<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Vejin Initiative</title>
  </head>

  <body>
    <header>
      <img class="logo" src="/Images/logo2.png" />
      <h1>Vejin Initiative</h1>
      <nav class="navMenu">
        <a href="home.html">Home</a>
        <a href="#">Blog</a>
        <a href="work.html">Work</a>
        <a href="about.html">About</a>
      </nav>
    </header>

    <section>
      <h2 id="welcomeHeader">Welcome to Vejin Initiative</h2>
      <p id="welcomeText">Empowering Kurdish youth in Germany.</p>
      <!-- Add more content here as needed -->
    </section>

    <p>
      <span> JIN JIYAN AZADI </span>
    </p>
  </body>

  <footer>
    <p>&copy; 2023 Vejin Initiative.</p>
    <p>All rights reserved.</p>
  </footer>
</html>
